<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Live Stream Player</title>
  <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
</head>
<body>
  <h2>Live Camera Stream</h2>
  <video id="video" controls autoplay width="640" height="360"></video>

  <script>
    const video = document.getElementById('video');
    // Django se pass hua stream URL yahan use karo (example)
   const videoSrc = "http://127.0.0.1:8000/media/streams/3c475cb8-6bdf-4d10-be9e-0f3f8bdd7935/index.m3u8";
   


    if (Hls.isSupported()) {
      const hls = new Hls();
      hls.loadSource(videoSrc);
      hls.attachMedia(video);
      hls.on(Hls.Events.MANIFEST_PARSED, function() {
        video.play();
      });
    } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
      video.src = videoSrc;
      video.addEventListener('loadedmetadata', function() {
        video.play();
      });
    } else {
      alert('HLS not supported in this browser.');
    }
  </script>
</body>
</html>
